<!DOCTYPE html>
<html lang="en">
<head>
	 {% include "meta_header.html" %}

	
</head>
<body>
      {% include "menu.html" %}

	<div class="wrapper">

		{% include "crumbs.html" %}
		<section>
			<div class="container">
				<div class="row">

						<div class="container">
							<div class="row toggleRow">

								<div class="center-block placeholder">
								<div class="inner-addon right-addon catSearchMobile">
									<i class="glyphicon glyphicon-search"></i>
									<input type="text" class="form-control catalogSearchForm" placeholder="Поиск"/>
								</div>								
								</div>								


								<div class="center-block placeholder">
	<!-- 								<ul>
										<li><a href="#mobile-menu2" class="toggle-mnu2"><span></span>КАТАЛОГ</a></li>
										<li class="liTitle"><span>КАТАЛОГ</span></li>
									</ul> -->
									<div class="toggleBoxLeftMenu">
									<a href="#mobile-menu2" class="toggle-mnu2"><span></span><p>КАТАЛОГ</p></a>								
									</div>								
								</div>	
					
							</div>
						</div>


						<div class="col-lg-9 col-md-12 col-lg-push-3">
                                                    <div class="row">
                                                            <div class="col-lg-12">
                                                                <div class="articleHomeBox articlePage">
                                                                      <img src="img/artImg2.jpg" class="img-responsive">
                                                                      <div class="articleCategoryDate">
                                                                          <p>Опубликовано <span>{{article.pub_date}}</span></p>
                                                                          <a href="#">{{ cat_title }}</a>
                                                                      </div>
                                                                      <div class="ArtTitle">
                                                                          <h1>{{article.title}}</h1>
                                                                      </div>
                                                                      <p>
                                                                      {% autoescape off %}

                                                                          {{article.content}}
                                                                      {% endautoescape %}
                                                                      </p>							
                                                                </div>
                                                            </div>
                                                    </div>	
																		
						</div>						



						{%  include "left_menu.html" %}

				</div>
			</div>					
		</section>


		
        {% include "subscription.html" %}

                
        {% include "footer.html" %}
	
					




	</div>


	<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/superfish/1.7.7/js/superfish.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery.mmenu/5.5.3/core/js/jquery.mmenu.min.all.js"></script>

	<script src="js/unslider.js"></script>
	<script src="js/quantityCount.js"></script>
    <script src="js/main.js"></script>
	

	<script src="js/bootstrap.min.js"></script>
	<script src="js/commonsecmenu.js"></script>


	<script type="text/javascript">
		$('document').ready(function (){
			$('#myPopOver').popover();
		});
	</script>

	
	<script>
		jQuery(document).ready(function($) {
			$('.my-slider').unslider();
		});
	</script>

        {% if is_admin %}
              {% include "chanels.html"%}
        {% endif %}


</body>
</html>