<!DOCTYPE html>
<html lang="en">
<head>
 {% include "meta_header.html" %}

	
</head>
<body>
	
	<div class="wrapper">

		<section class="specAnnounceSec">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
					{% for item in chanels.index_header %}
						{% if is_admin %}
						    <div class="col-lg-12 text-center">
							{% include "chanel_edit.html" with item=item opt_disable_delete=1 opt_disable_img=1 opt_disable_title=1 opt_disable_ordering=1 %}
						    </div>
						{% endif %}
					    {% autoescape off %}
						    <p>
							{{item.content}}
					            </p>

					    {% endautoescape %}
					{% endfor %}						   
						
					</div>
				</div>
			</div>
		</section>

       {% include "menu.html"  with index=True  %}





<div class="my-slider">
	<ul>
		<li>
				<div class="sliderBox">
							<div class="sl1" style="background-image:url(img/sl1.jpg);">
								<div class="container">
									<div class="row">
										<div class="col-lg-12 col-lg-offset-2 slCaptureCol">
												<div class="slCapture">
													<h3>ДВЕРНАЯ ФУРНИТУРА</h3>
													<p>Задача организации, в особенности же сложившаяся структура организации 
													влечет за собой процесс внедрения и модернизации новых предложений. </p> <br>
													<a href="/cat_window" class="btnStandBlue">Перейти в раздел</a>
												</div>
										</div>
									</div>
								</div>
								<!-- <img src="img/sl1.jpg"> -->
							</div>		
				</div>
		</li>
		<li>
				<div class="sliderBox">
							<div class="sl1" style="background-image:url(img/sl2.jpg);">
								<div class="container">
									<div class="row">
										<div class="col-lg-12 col-lg-offset-2 slCaptureCol">
												<div class="slCapture">
													<h3>ДВЕРНАЯ ФУРНИТУРА</h3>
													<p>Задача организации, в особенности же сложившаяся структура организации 
													влечет за собой процесс внедрения и модернизации новых предложений. </p> <br>
													<a href="/cat_doors" class="btnStandBlue">Перейти в раздел</a>
												</div>
										</div>
									</div>
								</div>
								<!-- <img src="img/sl1.jpg"> -->
							</div>		
				</div>
		</li>		
		
	</ul>
</div>





	

	</div>


	<div class="wrapper">

		<section class="homeSection">
				<div class="container homeSalesProducts">
					<div class="row rowVertAlign">
						<div class="col-lg-12 sectionTitle">
							<h3>Акционные товары</h3>
							<span>У вас есть возможность сэкономить, приобретая у нас товары в рамках акционных предложений</span>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-4 col-xs-6 col-xs-B-12 prodCol">
							<div class="productBox">
								<a href="#">
									<span class="salesMarker">акция</span>
								<img src="img/productImg.jpg" class="img-responsive">
								Замок рейка Accado</a>
								<span>Оконная фурнитура</span>
								<div class="row">
									<div class="rankPriceBox2">
										<img src="img/rank.jpg" class="img-responsive">
										<div class="priceBoxSPan">
											<span class="priceProduct">1022,65<span class="currencyProduct"> грн</span></span>
										</div>
									</div>
									<div class="productButtons2">
										<a href="#" class="btn btnViewProduct"><i class="flaticon-search"></i></a>
										<a href="#" class="btn btnCartProduct"><i class="flaticon-commerce"></i></a>
									</div>																		
								</div>
							</div>
						</div>	



						<div class="col-lg-3 col-md-4 col-sm-4 col-xs-6 col-xs-B-12 prodCol">
							<div class="productBox">
								<a href="#">
									<span class="salesMarker">акция</span>
								<img src="img/productImg.jpg" class="img-responsive">
								Замок рейка Accado</a>
								<span>Оконная фурнитура</span>
								<div class="row">
									<div class="rankPriceBox2">
										<img src="img/rank.jpg" class="img-responsive">
										<div class="priceBoxSPan">
											<span class="priceProduct">1022,65<span class="currencyProduct"> грн</span></span>
										</div>
									</div>
									<div class="productButtons2">
										<a href="#" class="btn btnViewProduct"><i class="flaticon-search"></i></a>
										<a href="#" class="btn btnCartProduct"><i class="flaticon-commerce"></i></a>
									</div>									
								</div>
							</div>
						</div>	



						<div class="col-lg-3 col-md-4 col-sm-4 col-xs-6 col-xs-B-12 prodCol">
							<div class="productBox productBoxHeightExample">
								<a href="#">
									<span class="salesMarker">акция</span>
								<img src="img/productImg.jpg" class="img-responsive">
								Замок рейка Accado</a>
								<span>Оконная фурнитура</span>
								<div class="row">
									<div class="rankPriceBox2">
										<img src="img/rank.jpg" class="img-responsive">
										<div class="priceBoxSPan">
											<span class="priceProduct">1022,65<span class="currencyProduct"> грн</span></span>
										</div>
									</div>
									<div class="productButtons2">
										<a href="#" class="btn btnViewProduct"><i class="flaticon-search"></i></a>
										<a href="#" class="btn btnCartProduct"><i class="flaticon-commerce"></i></a>
									</div>									
								</div>
							</div>
						</div>
																							
						<div class="col-lg-3 col-md-4 col-sm-4 col-xs-6 col-xs-B-12">
							<div class="salesBannerBox">
								<div class="salesBannerCaptureBox">
									<span class="slBanTitle">АКЦИИ и СКИДКИ</span><br />
									<span class="slBanCap">Выгодные предложения на популярные товары</span><br><br><br>
									<div><a href="#" class="slBanBtn">Смотреть все</a></div>
								</div>
								<img src="img/salesBanner.jpg" class="img-responsive">
							</div>
						</div>																
							
					</div>
				</div>
		</section>

		<section class="homeSpecSection">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-6 hingeImgBox">
						<img src="img/hingeBanner.png" class="img-responsive">
					</div>
					<div class="col-lg-6 col-md-6 specSectionCapture">
						<span class="specSectionTitle">Дверные петли Elephant 3D</span><br>
						<span>Высокое качество по доступной цене</span><br>
						<span>Регулировка в трех плоскостях</span><br><br>
						<a href="#" class="slBanBtn">Перейти к товару</a>
					</div>
				</div>
			</div>
		</section>


		<section class="homeSection">
				<div class="container homeSalesProducts">
					<div class="row rowVertAlign">
						<div class="col-lg-12 sectionTitle">
							<h3>Популярные товары</h3>
							<span>Мы всегда предлагаем наиболее актуальную продукцию по выгодным ценам</span>
						</div>
					
						<div class="col-lg-3 col-md-4 col-sm-4 col-xs-6 col-xs-B-12">
							<div class="productBox">
								<a href="#">									
								<img src="img/productImg.jpg" class="img-responsive">
								Замок рейка Accado</a>
								<span>Оконная фурнитура</span>
								<div class="row">
									<div class="rankPriceBox2">
										<img src="img/rank.jpg" class="img-responsive">
										<div class="priceBoxSPan">
											<span class="priceProduct">1022,65<span class="currencyProduct"> грн</span></span>
										</div>
									</div>
									<div class="productButtons2">
										<a href="#" class="btn btnViewProduct"><i class="flaticon-search"></i></a>
										<a href="#" class="btn btnCartProduct"><i class="flaticon-commerce"></i></a>
									</div>									
								</div>
							</div>
						</div>	
						<div class="col-lg-3 col-md-4 col-sm-4 col-xs-6 col-xs-B-12">
							<div class="productBox">
								<a href="#">
								<img src="img/productImg.jpg" class="img-responsive">
								Замок рейка Accado</a>
								<span>Оконная фурнитура</span>
								<div class="row">
									<div class="rankPriceBox2">
										<img src="img/rank.jpg" class="img-responsive">
										<div class="priceBoxSPan">
											<span class="priceProduct">1022,65<span class="currencyProduct"> грн</span></span>
										</div>
									</div>
									<div class="productButtons2">
										<a href="#" class="btn btnViewProduct"><i class="flaticon-search"></i></a>
										<a href="#" class="btn btnCartProduct"><i class="flaticon-commerce"></i></a>
									</div>									
								</div>
							</div>
						</div>	
						<div class="col-lg-3 col-md-4 col-sm-4 col-xs-6 col-xs-B-12">
							<div class="productBox">
								<a href="#">
								<img src="img/productImg.jpg" class="img-responsive">
								Замок рейка Accado</a>
								<span>Оконная фурнитура</span>
								<div class="row">
									<div class="rankPriceBox2">
										<img src="img/rank.jpg" class="img-responsive">
										<div class="priceBoxSPan">
											<span class="priceProduct">1022,65<span class="currencyProduct"> грн</span></span>
										</div>
									</div>
									<div class="productButtons2">
										<a href="#" class="btn btnViewProduct"><i class="flaticon-search"></i></a>
										<a href="#" class="btn btnCartProduct"><i class="flaticon-commerce"></i></a>
									</div>									
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-4 col-xs-6 col-xs-B-12">
							<div class="salesBannerBox">
								<div class="salesBannerCaptureBox">
									<span class="slBanTitle">КАТАЛОГ ТОВАРОВ</span><br />
									<span class="slBanCap">Оконная и дверная фуринтура известных брендов</span><br /><br /><br />
									<a href="#" class="slBanBtn">Смотреть все</a>
								</div>
								<img src="img/catBanner.jpg" class="img-responsive">
							</div>
						</div>																																			

					</div>
				</div>
		</section>

		<section class="homeBrandSection">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-sm-3 col-xs-6">
						<a href="#"><img src="img/br1.jpg" class="img-responsive"></a>
					</div>
					<div class="col-lg-3 col-sm-3 col-xs-6">
						<a href="#"><img src="img/br2.jpg" class="img-responsive"></a>
					</div>
					<div class="col-lg-3 col-sm-3 col-xs-6">
						<a href="#"><img src="img/br3.jpg" class="img-responsive"></a>
					</div>
					<div class="col-lg-3 col-sm-3 col-xs-6">
						<a href="#"><img src="img/br4.jpg" class="img-responsive"></a>
					</div>															
				</div>
			</div>
		</section>	

		<section class="homeSection">
				<div class="container homeSalesProducts">
					<div class="row">
						<div class="col-lg-12 sectionTitle">
							<h3>Новости и статьи</h3>
							<span>Новости компани и прочие публикации на тему оконной и дверной фурнитуры</span>
						</div>		

						<div class="col-lg-4 col-sm-6 col-xs-6 col-xs-B-12">
							<div class="articleHomeBox">
								<span class="artDate">10.10.2037</span>
								<a href="#"><img src="img/artImg.jpg" class="img-responsive"></a>
								<div class="homeArtTitle">
								<a href="#">Оконная фурнитура и ее возможности</a>
								</div>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip </p>							
								<div class="row">
									<div class="col-lg-6 col-xs-6 artCat">
										<a href="#">Оконная фурнитура</a>
									</div>
									<div class="col-lg-6 col-xs-6 artOpen">
										<img src="img/artSq.jpg" class="img-responsive">
										<a href="#">Подробнее</a>
									</div>								
								</div>
							</div>
						</div>	


						<div class="col-lg-4 col-sm-6 col-xs-6 col-xs-B-12">
							<div class="articleHomeBox">
								<span class="artDate">10.10.2037</span>
								<a href="#"><img src="img/artImg.jpg" class="img-responsive"></a>
								<div class="homeArtTitle">
								<a href="#">Оконная фурнитура и ее возможности</a>
								</div>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip </p>							
								<div class="row">
									<div class="col-lg-6 col-xs-6 artCat">
										<a href="#">Оконная фурнитура</a>
									</div>
									<div class="col-lg-6 col-xs-6 artOpen">
										<img src="img/artSq.jpg" class="img-responsive">
										<a href="#">Подробнее</a>
									</div>								
								</div>
							</div>
						</div>	


						<div class="col-lg-4 col-sm-6 col-xs-6 homeThirdArt">
							<div class="articleHomeBox">
								<span class="artDate">10.10.2037</span>
								<a href="#"><img src="img/artImg.jpg" class="img-responsive"></a>
								<div class="homeArtTitle">
								<a href="#">Оконная фурнитура и ее возможности</a>
								</div>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip </p>							
								<div class="row">
									<div class="col-lg-6 col-xs-6 artCat">
										<a href="#">Оконная фурнитура</a>
									</div>
									<div class="col-lg-6 col-xs-6 artOpen">
										<img src="img/artSq.jpg" class="img-responsive">
										<a href="#">Подробнее</a>
									</div>								
								</div>
							</div>
						</div>																																																

					</div>
				</div>
		</section>	

        {% include "subscription.html" %}
		
        {% include "footer.html" %}

	</div>




       




	<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/superfish/1.7.7/js/superfish.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery.mmenu/5.5.3/core/js/jquery.mmenu.min.all.js"></script>

	<script src="js/unslider.js"></script>
    <script src="js/main.js"></script>

	<script src="js/bootstrap.min.js"></script>
	<script src="js/common.js"></script>


	<script type="text/javascript">
		$('document').ready(function (){
			$('#myPopOver').popover();
		});
	</script>

	
	<script>
		jQuery(document).ready(function($) {
			$('.my-slider').unslider();
		});
	</script>

    <script type="text/javascript">
        $('document').ready(function (){
            var elemHeight = parseInt($('.productBoxHeightExample').height()+20);
            $('.salesBannerBox').height(elemHeight);    
        });     
    </script>
    {% if is_admin %}
        {% include "chanels.html"%}
    {% endif %}




</body>
</html>