                      {% load preview %}

              <div class="col-lg-3 col-md-12 col-lg-pull-9 leftMenuCol">
                                                        <div class="inner-addon right-addon catSearchDesktop">
                                                                <i class="glyphicon glyphicon-search"></i>
                                                                <input type="text" class="form-control catalogSearchForm" placeholder="Поиск"/>
                                                        </div>  

                                                        <div class="leftSectionTitle">
                                                        <h3 >НОВОСТИ И СТАТЬИ</h3>      
                                                        <hr>
                                                        </div>                                  

                                                        <div class="leftMenuBox">               
                                                                <div class="top-mnu">   
                                                                        <ul class="sf-menu2">
                                                                                <div class="sf-mega sfMegaLeft">
                                                                                        <li>
                                                                                                <div>
                                                            {% for blog in menu %}
                                                        
                                                                <div class="menu-new-item leftSubMenuBox">
                                                                        <h3>{{blog.title}}</h3>
                                                                      <ul class="megaSubMenu">
                                                                              {% for sub_cat in blog.sub %}
                                                                                    <li><a href="/cat_type_{{sub_cat.item.id}}">
                                                                                        {% if sub_cat.item.id == current and not is_discont %}
                                                                                        <strong>{{sub_cat.title|truncatechars:28}}</strong>
                                                                                        {% else %}
                                                                                                {{sub_cat.title|truncatechars:28}}
                                                                                        {% endif %}
                                                                                        <span>({{sub_cat.count}})</span></a></li>
                    
                                                                              {% endfor %}
                                                                        </ul>
                                                                                                        </div>
                                                           {% endfor %}
                                                                <div class="menu-new-item leftSubMenuBoxSales">
                                                                            <a href="{% url 'catalog' %}?discont=1">АКЦИИ<span>({{ discont_count }})</span></a>
                                                                                <!--<ul>
                                                                                   <li></li>-->

                                                                                        {% for blog in discont_menu %}
                                                                                                <div class="menu-new-item leftSubMenuBox">
                                                                                                     <h3>{{blog.title}}</h3>
                                                                                                     <ul class="megaSubMenu">
                                                                                                            {% for sub_cat in blog.sub %}
                                                                                                                    <li><a href="/cat_type_{{sub_cat.item.id}}?discont=1">
                                                                                                                        {% if sub_cat.item.id == current and is_discont %}
                                                                                                                        <strong>{{sub_cat.title|truncatechars:28}}</strong>
                                                                                                                        {% else %}
                                                                                                                                {{sub_cat.title|truncatechars:28}}
                                                                                                                        {% endif %}
                                                                                                                        <span>({{sub_cat.count}})</span></a></li>

                                                                                                            {% endfor %}
                                                                                                     </ul>
                                                                                                 </div>
                                                                                                 
                                                                                        {% endfor %}      

                                                                                

<!--                                                                                 </ul> -->
                                                                </div>

                                                           </div>
                                                                                        </li>
                                                                                </div>                                  
                                                                        </ul>
                                                                </div>
                                                        </div>

                                                        <div class="leftSectionSalesTitle">
                                                                <h3 >ПОПУЛЯРНЫЕ ТОВАРЫ</h3>     
                                                                <hr>
                                                        </div>  

                                                        <div class="row popularProducts">
								{% for item in popular %}
								  <div class="col-lg-12 col-md-4 col-sm-4 popProductItemMain">
									  <div class="row">                                                                       
										  <div class="col-sm-8 popProductItem">
											  <a href="/product_{{item.id}}">{{item.title}}</a>
                                                                                          {% for i in item.rate|get_range  %}<img src="img/star.png" >&nbsp;{% endfor %}
											  <span class="priceProductPopural">{{item.price}}<span class="currencyProduct"> грн</span></span>
										  </div>
										  <div class="col-sm-4">
											  <img src="{{item.preview_image.url}}" class="img-responsive">
										  </div>                                                                                  
									  </div>
								  </div>
                                                                {% endfor %}
                                                                                                                                         
                                                        </div>

                                                        <div class="leftSectionTitle">
                                                                <h3 >ДЕЙСТВУЮЩИЕ АКЦИИ</h3>     
                                                                <div class="currentSalesLeft">
                                                                        {% if is_admin %}
                                                                            {% include "chanel_edit.html" with item=chanels.catalog_current_discont opt_disable_delete=1 opt_disable_content=1 opt_disable_ordering=1 %}
                                                                            <br/>
                                                                        {% endif %}
                                                                        <img src="media/{{chanels.catalog_current_discont.image}}" class="img-responsive">
                                                                        <div class="leftSectionButton">
                                                                                <a href="{{chanels.catalog_current_discont.title}}"
                                                                                class="btnStandBlueFd">Перейти в раздел</a>
                                                                        </div>
                                                                </div>
                                                        </div>  


                                        </div>