    <div class="wrapper">
        <section class="headerMenuSection">

        <div class="container">
        <div class="row">

                <div class="toggleBox">
                <a href="#mobile-menu" class="toggle-mnu"><span></span></a>
                </div>


                <div class="col-lg-2 logoBox ">
                        <a href="{% url 'index' %}"><img src="img/logo.svg" class="img-responsive"></a>
                </div>
                <div class="header-wrap clearfix">  
                    <div class="col-lg-8 menuColBox">
                    <div class="top-mnu">

                        <ul class="sf-menu">
                            <li><a href="{% url 'index' %}">ГЛАВНАЯ</a></li>
                            <li><a href="/page_company">О КОМПАНИИ</a></li>
                            <li><a href="/brands">БРЕНДЫ</a></li>
                            
                            
                            <li>
                                <a href="{% url 'catalog' %}">ПРОДУКЦИЯ</a>
                                
                                
                                <ul>
                                    <li><a href="/cat_window">{{cats.cat_window_title}}</a>
                                        <ul>
                                           {% for cat_item in  cats.cat_window %}
                                                <li><a href="/cat_type_{{ cat_item.id }}">{{ cat_item.opt2_spec }}</a></li>
                                           {% endfor %}
                                           
                                        </ul>
                                    </li>
                                     <li><a href="/cat_doors">{{ cats.cat_doors_title }}</a>
                                        <ul>
                                           {% for cat_item in  cats.cat_doors %}
                                                <li><a href="/cat_type_{{ cat_item.id }}">{{ cat_item.opt2_spec }}</a></li>
                                           {% endfor %}
                                        </ul>
                                    </li>
                                    
                           
                                    
                                </ul>
                                
                                
                            </li>
                            <li>
                                <a href="{% url 'faq' %}">ПОДДЕРЖКА</a>
                                <div class="sf-mega">

                                    <div class="container-fluid containerMmenuBox">

                                        <div class="row">
                                            <div class="col-lg-12">

                                                <div class="row">
                                                    <div class="col-md-4">

                                                        <div class="menu-new-item">
                                                            <h3>Оконная фурнитура</h3>
                                                                <ul class="megaSubMenu">
                                                                    <li><a href="#">Подменю 1 текст </a></li>
                                                                    <li><a href="#">Подменю 2</a></li>
                                                                    <li><a href="#">Подменю 3</a></li>
                                                                </ul>
                                                        </div>

                                                    </div>
                                                    <div class="col-md-4">

                                                        <div class="menu-new-item">
                                                            <h3>Дверная фурнитура</h3>
                                                                <ul class="megaSubMenu">
                                                                    <li><a href="#">Подменю 1 текст </a></li>
                                                                    <li><a href="#">Подменю 2</a></li>
                                                                    <li><a href="#">Подменю 3</a></li>
                                                                    <li><a href="#">Подменю 1 текст </a></li>
                                                                    <li><a href="#">Подменю 2</a></li>
                                                                    <li><a href="#">Подменю 3</a></li>
                                                                    <li><a href="#">Подменю 1 текст </a></li>
                                                                    <li><a href="#">Подменю 2</a></li>
                                                                </ul>
                                                        </div>

                                                    </div>
                                                    <div class="col-md-4">

                                                        <div class="menu-new-item specMegaItem">
                                                            <h3>Акции и другие спецпредложения</h3>
                                                            <img class="responsive-img" src="img/coffee.jpg" alt="Alt">
                                                            <a href="#" class="btn megaMenuButton">Все акции</a>
                                                        </div>

                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </li>
                            <li>
                                <a href="{% url 'contacts' %}">КОНТАКТЫ</a>
                            <!--    <ul>
                                    <li>
                                        <a href="#">Подменю 1</a>
                                    </li>
                                    <li><a href="#">Подменю 2</a></li>
                                    <li><a href="#">Подменю 3</a></li>
                                </ul>-->
                            </li>
                        </ul>

                    </div>

                    </div>

                    <div class="col-lg-2 iconBlock">

                            <i class="flaticon-search" data-toggle="modal" data-target="#modalSearch"></i>
                            <i class="flaticon-technology-1" data-toggle="modal" data-target="#myModal"></i>
                            <a href="#">
                                <i class="flaticon-commerce"></i>
                                <span class="cartCount">0</span>
                            </a>
                    </div>


                </div>

        </div>
        </div>
        </section>



        {% if not index %}
            <div class="pageTitleImageBack" style="background-image:url(img/sl1.jpg);">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-12 pageTitleTextCOl">
                                                    <div class="pageTitleText">
                                                        <p>Каталог товаров</p>
                                                        <h3>ДВЕРНАЯ ФУРНИТУРА</h3>
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
            </div>
        {% endif %}

    </div>

<div class="modal fade" id="modal_info"
     tabindex="20" role="dialog"
     aria-labelledby="info_modal_label">

  <div class="modal-dialog" role="document" >
    <div class="modal-content">
            <div class="col-lg-12">
                <div class="calcBox">
                         <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="info_modal_label"></h4>
                         </div>
                         <div class="modal-body">
                              <div class="form-group" >
                                  <label class="control-label" id="info_body" ></label>
                              </div>
                         </div>
                         <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                         </div>
                </div>
                </div>
            </div>
    </div>
  </div>

</div>      
