<div class="col-lg-2 logoBox ">
                        <a href="{% url 'index' %}"><img src="img/logo.svg" class="img-responsive"></a>
                </div>

                <div class="col-lg-8 menuColBox">
                <div class="top-mnu">

                    <ul class="sf-menu">
                        <li><a href="{% url 'index' %}">ГЛАВНАЯ</a></li>
                        <li><a href="#">О КОМПАНИИ</a></li>
                        <li><a href="#">БРЕНДЫ</a></li>
                        <li>
                            <a href="{% url 'catalog' %}">ПРОДУКЦИЯ</a>
                            <ul>
                                <li>
                                    <a href="#">Подменю 1</a>
                                </li>
                                <li><a href="#">Подменю 2</a>
                                    <ul>
                                        <li><a href="#">Подменю 1 текст </a></li>
                                        <li><a href="#">Подменю 2</a></li>
                                        <li><a href="#">Подменю 3</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Подменю 3</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="{% url 'faq' %}">ПОДДЕРЖКА</a>
                            <div class="sf-mega">

                                <div class="container-fluid containerMmenuBox">

                                    <div class="row">
                                        <div class="col-lg-12">

                                            <div class="row">
                                                <div class="col-md-4">

                                                    <div class="menu-new-item">
                                                        <h3>Оконная фурнитура</h3>
                                                            <ul class="megaSubMenu">
                                                                <li><a href="#">Подменю 1 текст </a></li>
                                                                <li><a href="#">Подменю 2</a></li>
                                                                <li><a href="#">Подменю 3</a></li>
                                                            </ul>
                                                    </div>

                                                </div>
                                                <div class="col-md-4">

                                                    <div class="menu-new-item">
                                                        <h3>Дверная фурнитура</h3>
                                                            <ul class="megaSubMenu">
                                                                <li><a href="#">Подменю 1 текст </a></li>
                                                                <li><a href="#">Подменю 2</a></li>
                                                                <li><a href="#">Подменю 3</a></li>
                                                                <li><a href="#">Подменю 1 текст </a></li>
                                                                <li><a href="#">Подменю 2</a></li>
                                                                <li><a href="#">Подменю 3</a></li>
                                                                <li><a href="#">Подменю 1 текст </a></li>
                                                                <li><a href="#">Подменю 2</a></li>
                                                            </ul>
                                                    </div>

                                                </div>
                                                <div class="col-md-4">

                                                    <div class="menu-new-item specMegaItem">
                                                        <h3>Акции и другие спецпредложения</h3>
                                                        <img class="responsive-img" src="img/coffee.jpg" alt="Alt">
                                                        <a href="#" class="btn megaMenuButton">Все акции</a>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>

                            </div>
                        </li>
                        <li>
                            <a href="{% url 'contacts' %}">КОНТАКТЫ</a>
                        <!--    <ul>
                                <li>
                                    <a href="#">Подменю 1</a>
                                </li>
                                <li><a href="#">Подменю 2</a></li>
                                <li><a href="#">Подменю 3</a></li>
                            </ul>-->
                        </li>
                    </ul>

                </div>

                </div>