<!DOCTYPE html>
<html lang="en">
<head>
   {% include "meta_header.html" %}
        {% load preview %}


   
</head>
<body>
   
   {% include "menu.html" %}





      
   <div class="wrapper">

        {% include "crumbs.html" %}


      <section>
         <div class="container">
            <div class="row">

                  <div class="container">
                     <div class="row toggleRow">

                        <div class="center-block placeholder">
                        <div class="inner-addon right-addon catSearchMobile">
                           <i class="glyphicon glyphicon-search"></i>
                           <input type="text" class="form-control catalogSearchForm" placeholder="Поиск"/>
                        </div>                        
                        </div>                        


                        <div class="center-block placeholder">
   <!--                         <ul>
                              <li><a href="#mobile-menu2" class="toggle-mnu2"><span></span>КАТАЛОГ</a></li>
                              <li class="liTitle"><span>КАТАЛОГ</span></li>
                           </ul> -->
                           <div class="toggleBoxLeftMenu">
                           <a href="#mobile-menu2" class="toggle-mnu2"><span></span><p>КАТАЛОГ</p></a>                        
                           </div>                        
                        </div>   
               
                     </div>
                  </div>


                  <div class="col-lg-9 col-md-12 col-lg-push-3">
                        <div class="homeSalesProducts">
                           <div class="row rowVertAlign">
                              
                                   {% autoescape off %}
                              
                              <div class="col-lg-12 productMainInfo">
                                 <div class="row">
                                    <div class="col-lg-5 col-sm-5">
                                       <div class="productmainImg">
                                       
                                              {% include "images.html"  with images=product_images %}
                                          
                                          
                                       </div>
                                       <div class="row productSpecBtns">


                                           {% if product.file1 %}
                                              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-6 col-xs-B-12">
                                                                <a href="{{product.file1.url}}" class="btnProductSpec" download>
                                                                    <img src="img/pdfIcon.png">Спецификация</a></div>
                                                                
                                                        {% endif %}
                                                        {% if product.file2 %}
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-6 col-xs-B-12">
                                                                    <a href="{{product.file2.url}}" class="btnProductSpec" download><img src="img/pdfIcon.png">Каталог</a>
                                                                </div>
                                                        {% endif %}

                                       </div>
                     
                                    </div>
                                    <div class="col-lg-7 col-sm-7 mainProductCapture">
                                       <h1>{{product.title}}</h1>
                                        {% for i in item.rate|get_range  %}<img src="img/star.png" >&nbsp;{% endfor %}
                                       <div class="productShortCharacters">
                                            {{product.ext_desc}}
                                       
                                       <!--   <span>Код товара: <span>26351851231</span></span><br>
                                          <span>Производитель: (Kayapen) Турция</span><br>
                                          <span>Количество в упаковке: 20 шт.</span><br>
                                          <span>Вес упаковки: 10 кг</span><br>-->
                                       </div>
                                       <span class="productMainPrice">{{product.price}}
                                       <span class="currencyProduct"> грн</span></span>
                                       <div class="quantityBox">


      <div class="input-group">
          <span class="input-group-btn">
              <button type="button" class="btn btn-default btn-number" disabled="disabled" data-type="minus" data-field="quant[1]">
                  <span class="glyphicon glyphicon-minus"></span>
              </button>
          </span>
          <input type="text" name="quant[1]" id="count_of_items" class="form-control input-number" value="1" min="1" max="10">
          <span class="input-group-btn">
              <button type="button" class="btn btn-default btn-number" data-type="plus" data-field="quant[1]">
                  <span class="glyphicon glyphicon-plus"></span>
              </button>
          </span>
         </div>                                    
   </div>   
   <div class="row productBtnsBox">
      <div class="col-lg-5 col-md-5 col-sm-6 col-xs-6 col-xs-B-12">                                 
                       <a href="javascript:MyCart.add2cart_count_from({{product.id}}, '#count_of_items', '{{product.title}}')" class="btnProductBuy"><img src="img/cartIcon.png">В корзину</a>

      </div>                                          
      <div class="col-lg-5 col-md-5 col-sm-6 col-xs-6 col-xs-B-12">   
         <a href="#" class="btnProductAsk"><img src="img/askIcon.png">Задать вопрос</a>
      </div>
   </div>
   <hr>
   <div class="productFullDescription">
      <h4>Полное описание</h4>
    <p>
         {% if product.full_desc %}
                {{ product.full_desc }}
                                                          
   {% endif %}
               
    </p>
            </div>                                 
         </div>
      </div>
</div>
                              {% endautoescape %}


                              {% include "seemed_products.html" %}


                           </div>
                        </div>                  
                  </div>                  


                    {% include "left_menu_product.html" %}


            </div>
         </div>               
      </section>



        {% include "subscription.html" %}



        {% include "footer.html" %}




   </div>


   <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/superfish/1.7.7/js/superfish.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery.mmenu/5.5.3/core/js/jquery.mmenu.min.all.js"></script>

   <script src="js/unslider.js"></script>
   <script src="js/quantityCount.js"></script>
   <script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script> 

      <script src="js/main.js"></script>

   <script src="js/bootstrap.min.js"></script>
   <script src="js/commonsecmenu.js"></script>


   <script type="text/javascript">
      $('document').ready(function (){
         $('#myPopOver').popover();
      });
   </script>

   

        {% if is_admin %}
              {% include "chanels.html"%}
        {% endif %}

</body>
</html>